html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1024px;
    margin: auto;
}
.list > p {
    margin-bottom: 20px;
    padding: 0 20px;
}
.list-container {
    width: 730px;
    margin: auto;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.headline-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
}
.headline-container h1 {
    color: white;
}
.text-container {
    padding: 20px 30px;
}
.text-container p {
    margin-bottom: 10px;
    font-size: 20px;
}

/*cross*/

.cross-container {
    position: absolute;
    right: 0;
    height: 100px;
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: hidden;
    visibility: visible;
    z-index: 2;
    background: white;
    cursor: pointer;
}

.fixed-nav .cross-container {
    visibility: visible;
}

.cross {
    font-size: 20px;
    pointer-events: none;
}

.cross-container:hover .cross {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


/*Fixed classes*/

.fixed-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 730px;
    left: auto;
}

/*Colors*/

.coral {
    background-color: coral;
}
.purple {
    background-color: #6B4E71;
}
.dark-blue {
  background-color: #53687E;
}
.crimson {
    background-color: crimson;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.wheat {
    background-color: wheat;
}
.wheat h1 {
    color: black;
}
/*Buttons*/

.btn {
    padding: 10px 15px;
    background-color: #00BFB2;
    text-transform: uppercase;
    font-weight: 400;
    border: 0;
    cursor: pointer;
    z-index: 2;
}
.btn:hover {
    background-color: #069b91;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn:focus {
    outline: none;
}
#initialize {
    position: fixed;
    top: 40px;
    left: 10px;
}
#disable {
    position: fixed;
    top: 80px;
    left: 10px;
}
/*Media Query*/

@media screen and (max-width: 1024px) {
    .headline-container {
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .dynamic-content {
        min-height: 101%;
    }

    .list-container {
        width: 100%;
        padding: 0;
    }
    .fixed-nav {
        left: 0;
        right: 0;
        width: 100%;
    }
    .text-container p {
        font-size: 16px;
        padding: 0 30px;
    }
}
@media screen and (max-width: 768px) {
    .list-container {
        width: 100%;
    }
    .headline-container {
        width: 100%;
        overflow: hidden;
    }
    .fixed-nav {
        left: 0;
        right: 0;
        width: 100%;
    }
    .text-container p {
        font-size: 16px;
        padding: 0 30px;
    }
    .btn {
        padding: 8px 10px;
    }
}
@media screen and (max-width: 400px) {
    .list-container {
        padding: 0;
    }
    .headline-container {
        height: 40px;
    }
    .headline-container h1 {
        font-size: 18px;
    }
    .fixed-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        right: 0;
        width: 100%;
    }
    .fixed-nav h1 {
        font-size: 18px;
    }
    .text-container {
        padding: 0 20px;
    }
    .text-container p {
        font-size: 16px;
    }
    .btn {
        padding: 5px 8px;
    }
}
